canvas {
	display: block;
}

body, html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	overscroll-behavior-y: none;
}

#play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid black;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	border-radius: 30px;
	cursor: pointer;
}

#play:hover {
	background-color: rgba(50, 50, 50, 0.7);
}

#play:active {
	background-color: rgba(100, 100, 100, 0.7);
}

#status {
	pointer-events: none;
	user-select: none;
	position: absolute;
	right: 0px;
	width: 120px;
	bottom: 0px;
	height: 25px;
	background-color: #444444;
	margin: 0px;
	color: #CCCCCC;
	font-size: 11pt;
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
}

#statusText {
	display: inline-block;
	margin: 5px;
}


div.avatar {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 20px;
	pointer-events: none;
	user-select: none;
}

