canvas {
	display: block;
	cursor: crosshair;
}

body {
	margin: 0px;
	padding: 0px;
}

#play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-top: -150px;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid black;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	border-radius: 30px;
	cursor: pointer;
}

#play:hover {
	background-color: rgba(50, 50, 50, 0.7);
}

#play:active {
	background-color: rgba(100, 100, 100, 0.7);
}


div.avatar {
	position: absolute;
	width: 20px;
	height: 20px;
	pointer-events: none;
	font-size: 20px;
	user-select: none;
}

